* {
  box-sizing: border-box;
}

body {
  color: #fcf2e2;
  font-family: 'Roboto';
  background-color: #1e2b3e;
}

p {
  line-height: 30px;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

/* #ff4c29 */
